<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='make-trip'>  
      <form action="/" method="post">
        <input type="text" name="input-name" value="Your Name" ></input>
        <input type="text" name="input-meeting" value="Meeting Place" ></input>
        <input type="text" name="input-destination" value="Where are you going" ></input>
        <input type="text" name="input-time" value="When are you Leaving" ></input>
        <input type="text" name="input-address" value="Address" ></input>
        <input type="text" name="input-phone" value="Phone Number (not visible to other users"></input>
        <button >Plan It!</button>
      </form>
    </div>
    
    
    <div>
      <table>
        <th><button>Meeting Place</button></th>
        <th><button>Destination</button></th>
        <th><button>Departure Time</button></th>
        <tr>
          <!-- <td><%= title %></td><td><%= title %></td><td><%= title %></td><td><%= title %></td> -->
        </tr> 
      </table>

    </div>
  </body>
</html>
