<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class='make-trip'>  
      <form>
        <input type="text" value="Your Name"></input>
        <input type="text" value="Meeting Place"></input>
        <input type="text" value="Where are you going"></input>
        <input type="text" value="When are you Leaving"></input>
        <input type="text" value="Address"></input>
        <input type="text" value="Phone Number (not visible to other users"></input>
        <button >Plan It!</button>
      </form>
    </div>
    <div>
      <table>
        <th>Meeting Place</th>
        <th>Destination</th>
        <th>Departure Time</th>
        <tr>
          <!-- <td><%= title %></td><td><%= title %></td><td><%= title %></td><td><%= title %></td> -->
        </tr> 
      </table>

    </div>
  </body>
</html>
